*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #252525;
}
/* INTESTAZIONE */
header{
  width: 100%;
  height: 80px;
  background-color: #171515;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: fixed;
  z-index: 2;
}
header h1{
  color: red;
}
header .input-search{
  position: relative;
}
header #input{
  width: 250px;
  height: 30px;
  border-radius: 7px;
  border: 0;
  padding-left: 40px;
  font-size: 16px;
}
header .icon-search{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

/* CORPO DELLA PAGINA */
main{
  padding-top: 100px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .locandina{
  height: 500px;
  width: 342px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .locandina .copertina{
  height: 500px;
  width: 342px;
}
main .locandina:hover{
  cursor: pointer;
  border: 2px solid white;
}
main .locandina:hover .copertina{
  transition: all .5s ease;
  opacity: 0.2;
  filter: brightness(50%);
}
main .locandina .info{
  display: none;
}
main .locandina:hover .info{
  display: block;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  color: white;
  padding: 10px 15px;
}
main .info p{
  margin: 20px 0;
  max-height: 200px;
  overflow: auto;
}
main .lingua{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
main .lingua .bandierina{
    width: 30px;
    height: auto;
    margin-left: 15px;
}
main .voto{
  display: flex;
  align-items: center;
}
main .voto h3{
  margin-right: 15px;
}
main .voto .yellow-star{
  color: #ffbf00;
}
