<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title></title>
  </head>
  <body>
    <div id="app">

      <header>
        <h1>BOOLFLIX</h1>
        <div class="input-search">
          <i class="fas fa-search icon-search"></i>
          <input @keydown.enter="ricerca" class="search" v-model="search" type="search">
        </div>
      </header>

      <main>
        <!-- sezione films -->
        <section class="films">

          <div class="locandina" v-for="(film,i) in filmsArray">
            <img class="copertina" :src="copertinaFilmsArray[i]" @error="setAltImgCopertina" alt="">
            <div class="info">
              <h3>Titolo: {{film.title}}</h3>
              <h3>Titolo originale: {{film.original_title}}</h3>
              <p>{{film.overview}}</p>
              <div class="lingua">
                <h3>Lingua:</h3>
                <img class="bandierina" :src="bandieraFilmsArray[i]" @error="setAltImgBandiera" alt="">
              </div>
              <div class="voto">
                <h3>Voto:</h3>
                <i class="fas fa-star yellow-star" v-for="star in film.vote_average"></i>
                <i class="fas fa-star" v-for="star in (5-film.vote_average)"></i>
              </div>
            </div>
          </div>

        </section>

        <!-- sezione serie tv -->
        <section class="serie-tv">

          <div class="locandina" v-for="(serieTv,i) in serieTvArray">
            <img class="copertina" :src="copertinaSerieTvArray[i]" @error="setAltImgCopertina" alt="">
            <div class="info">
              <h3>Titolo: {{serieTv.original_name}}</h3>
              <p>Titolo originale: {{serieTv.overview}}</p>
              <div class="lingua">
                <h3>Lingua:</h3>
                <img class="bandierina" :src="bandieraSerieTvArray[i]" @error="setAltImgBandiera" alt="">
              </div>
              <div class="voto">
                <h3>Voto:</h3>
                <i class="fas fa-star yellow-star" v-for="star in serieTv.vote_average"></i>
                <i class="fas fa-star star" v-for="star in (5-serieTv.vote_average)"></i>
              </div>
            </div>
          </div>

        </section>

      </main>

    </div>


    <!-- script -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
