<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title></title>
  </head>
  <body>
    <div id="app">

      <header>
        <input @keydown.enter="ricerca" v-model="search" type="search">
      </header>

      <!-- sezione films -->
      <section class="films">
        <h1>FILM</h1>

        <div class="locandina" v-for="(film,i) in filmsArray">
          <img :src="copertinaFilmsArray[i]" alt="">
          <h3>{{film.title}}</h3>
          <h3>{{film.original_title}}</h3>
          <h3>{{film.original_language}}</h3>
          <img class="bandierina" :src="bandieraFilmsArray[i]" @error="setAltImg" alt="">
          <h3>{{film.vote_average}}</h3>
          <div class="stars">
            <i class="fas fa-star yellow-star" v-for="star in film.vote_average"></i>
            <i class="fas fa-star star" v-for="star in (5-film.vote_average)"></i>
          </div>
        </div>
      </section>

      <!-- sezione serie tv -->
      <section class="serie-tv">
        <h1>SERIE TV</h1>

        <div class="locandina" v-for="(serieTv,i) in serieTvArray">
          <img :src="copertinaSerieTvArray[i]" alt="">
          <h3>{{serieTv.original_name}}</h3>
          <h3>{{serieTv.original_language}}</h3>
          <img class="bandierina" :src="bandieraSerieTvArray[i]" @error="setAltImg" alt="">
          <h3>{{serieTv.vote_average}}</h3>
          <div class="stars">
            <i class="fas fa-star yellow-star" v-for="star in serieTv.vote_average"></i>
            <i class="fas fa-star star" v-for="star in (5-serieTv.vote_average)"></i>
          </div>
        </div>
      </section>

    </div>


    <!-- script -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
